body, html{
 	font-family: sans-serif;
    background-color:  #eff5f5;
}


#workers-grid img{
    object-fit: cover;
    max-height: 190px;
    width: 100%;
}

#workers-grid .card{
    width: 100%;
}

#workers-grid .card-tile{
    font-weight: bold;
    /*background-color: gray;*/
}

#workers-grid{
    padding-top: 5%;
    padding-bottom: 5%;
    /*color: black;*/
}

/********* css for first line ***********/
#main-first-row .card-body{
    margin-top: 5px;
}

#main-first-row {
    /*margin: 0;*/
}

#main-first-row .card{
    margin: 10px;
}


/********* css for second line ***********/
#second-row {
    /*margin-top: 0px;*/
}

#second-row .card-body{
    margin-top: 5px;
}

#second-row .card{
    margin: 10px;
}

.text-welcome{
    margin-top: 35px;
    background-color: lightgray;
    /*padding: 20px;*/
}

/*.navbar-default{
    display: block;
}*/

#workers-grid .card{
    height: 400px;
}

#workers-grid .btn-primary{
    width: 95%;
    position: absolute;
    bottom: 0;
    /*margin-top: 10px;*/
}

#bs-example-navbar-collapse-1 a{
    margin-top: 25px;
    padding-top:  10px;
    padding-bottom:   0px;
}

.navbar-form{
    margin-top: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
}



/************ nav bar ************/
.navbar-default {
  background-color: #337ab7;
  border-color: ##337ab7;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #4d6aff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #4d6aff;
}
.navbar-default .navbar-toggle {
  border-color: #4d6aff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4d6aff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #4d6aff;
  }
}
